<% layout('boilerplate/boilerplate') %>

<section class="font text-center py-5 bg-light rounded">
  <div class="container">
    <h1 class="display-4 fw-bold mb-3">
      Welcome to <span class="text-primary"><%= title %></span>
    </h1>
    <p class="lead mb-4">Crafting Real Skills for a Timeless Future.</p>
  </div>
</section>

<section class="text-center py-5 border bg-light">
  <a href="/html" class="btn btn-primary btn-lg">Start Learning HTML</a>
</section>
