<% layout('boilerplate/boilerplate') %>

<section class="font py-5 px-2 mb-5 text-center warrior-hero">
  <div class="container">
    <h1 class="mb-0">
      <span class="fs-5 text-white fw-bold">Unleash Your Skills at</span>
      <span class="text-light display-2 fw-bold d-block">
        <%= title %>
      </span>
    </h1>
    <p class="mb-5 fs-4 text-white">
      Forge Your Path with Knowledge & Strength.
    </p>
    <a href="#" class="btn btn-danger btn-lg mt-3 shadow-lg"
      >Begin Your Journey</a
    >
  </div>
</section>

<section class="font2 py-5 m-5" style="background-color: #f8f9fa">
  <div class="container">
    <h2 class="font fw-bold">What You'll Learn</h2>

    <a href="/html" class="btn btn-primary btn-lg mt-3 shadow-sm">HTML</a>
    <a href="/html" class="btn btn-primary btn-lg mt-3 shadow-sm">CSS</a>
    <a href="/html" class="btn btn-primary btn-lg mt-3 shadow-sm">JAVASCRIPT</a>
  </div>
</section>
